<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780072412373-nm7lgj09mlfs7vb3f644amagt6e1nuf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780072412373-nm7lgj09mlfs7vb3f644amagt6e1nuf1</string>
	<key>API_KEY</key>
	<string>AIzaSyB6ZUq_5_dagmiBo2rLxJKu56lOC0fGO4I</string>
	<key>GCM_SENDER_ID</key>
	<string>780072412373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lostFoundSteelhacks</string>
	<key>PROJECT_ID</key>
	<string>steelhacks-2023-db</string>
	<key>STORAGE_BUCKET</key>
	<string>steelhacks-2023-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780072412373:ios:a567e58d75bb7015d0ee5c</string>
</dict>
</plist>